:root {
  --primary-color: #DD3B71;
  --second-color: #111010;
  --link-color: #FFFFFF; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  height: 9vh;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-list li {
  letter-spacing: 3px;
  margin: 50px;
}

.navbar a {
  text-decoration: none;
  color: var(--link-color);
}

.navbar a:hover {
  color:#DD3B71;
  transition: border 1.5s;
  padding:4px;
  border: 10px;
  border-radius: 10px;
  background: #F6DBCE;
}

.navbar a:active{
  border: 10px;
  border-radius: 5px;
  background: chocolate;
}


body{
  font-family: 'Montserrat', sans-serif
}

#banner{
  width: 100%;
}

.principal{
  padding: 3em 0;
}

.conteudo-principal{
  width: 640px;
  margin: 0 auto;
}

.titulo-centralizado{
  text-align: center;
  font-size: 30px;
  padding: 30px;
  color: var(--primary-color);
}

p{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  padding: 20px;
  font-family:'Krub', sans-serif;
}

.imagem-ada{
  width: 50%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 5px 10px 5px #F6DBCE;
  
}
